Auto Recipe Generation.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a recipe curator for LowKeyCooking — a food blog for home cooks.\nBrand values: budget-conscious, comfort-first, accessible, globally-inspired classics.\n\"Great food is a right for every home cook.\"\n\nCURRENT COLLECTION:\n{{ $json.history_summary }}\n\nSEASON: {{ $json.season }}\n\nEXCLUDED SLUGS (must not generate any of these):\n{{ $json.exclude_slugs }}\n\nCONSTRAINTS (apply to every candidate):\n- Max 30 minutes total (prep + cook combined)\n- Beginner skill — achievable by someone who rarely cooks\n- Grocery-store ingredients only (Walmart, Kroger, Target level)\n- No luxury ingredients: no truffle, lobster, wagyu, burrata, or expensive specialty items\n- No tofu\n- Fish must be tilapia, salmon, or mahi mahi only\n- Target 6-8 ingredients, hard max 10\n- Single cooking vessel only (one pan, one pot, or one baking sheet)\n- Max 6 steps — no special techniques (no deep frying, no emulsifying, no dough-making)\n\nYour task:\n1. Analyze the collection above. What cuisines, meal types, and proteins are missing or underrepresented?\n2. Generate exactly 3 diverse recipe candidates that fill the identified gaps and fit the current season.\n3. Select the single best candidate: most novel vs the existing collection, best seasonal fit, strongest brand alignment.\n\nAvoid generic names — be specific (e.g. not \"Chicken Stir Fry\" but \"Ginger Scallion Chicken Stir Fry\").\n\nReturn ONLY valid JSON, no prose, no code fences:\n{\n  \"gap_analysis\": \"one sentence describing what is missing from the collection\",\n  \"candidates\": [\n    { \"recipe_name\": \"string\", \"slug\": \"kebab-case\", \"cuisine\": \"string\", \"meal_type\": \"string\", \"protein\": \"string\", \"why\": \"string\" },\n    { \"recipe_name\": \"string\", \"slug\": \"kebab-case\", \"cuisine\": \"string\", \"meal_type\": \"string\", \"protein\": \"string\", \"why\": \"string\" },\n    { \"recipe_name\": \"string\", \"slug\": \"kebab-case\", \"cuisine\": \"string\", \"meal_type\": \"string\", \"protein\": \"string\", \"why\": \"string\" }\n  ],\n  \"selected\": {\n    \"recipe_name\": \"string\",\n    \"slug\": \"kebab-case\",\n    \"cuisine\": \"string\",\n    \"meal_type\": \"string\",\n    \"protein\": \"string\",\n    \"why_fit\": \"one sentence on why this is the best addition to the collection right now\"\n  }\n}",
        "needsFallback": true
      },
      "id": "66ca7d54-a40a-48a1-89b5-4124edc8973e",
      "name": "Generate Recipe Idea",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -11936,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = ($input.first().json.text || '').trim();\nlet parsed;\n\ntry {\n  parsed = JSON.parse(raw);\n} catch {\n  const fenced = raw.match(/```(?:json)?\\n([\\s\\S]*?)\\n```/i);\n  if (!fenced) {\n    throw new Error('Generate Recipe Idea did not return valid JSON: ' + raw);\n  }\n  parsed = JSON.parse(fenced[1]);\n}\n\nconst selected = parsed.selected || parsed;\n\nconst recipeName = (selected.recipe_name || '').trim();\nif (!recipeName) {\n  throw new Error('Missing recipe_name in Generate Recipe Idea output.');\n}\n\nconst slug = (selected.slug || recipeName)\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-+|-+$/g, '');\n\nreturn [{\n  json: {\n    recipe_name: recipeName,\n    slug,\n    why_fit: (selected.why_fit || '').trim(),\n    cuisine: (selected.cuisine || '').trim(),\n    meal_type: (selected.meal_type || '').trim(),\n    protein: (selected.protein || '').trim(),\n    gap_analysis: (parsed.gap_analysis || '').trim(),\n    candidates: parsed.candidates || []\n  }\n}];"
      },
      "id": "6b24dbc4-f12c-4818-a7c1-e5d6af9770b8",
      "name": "Parse Recipe Idea",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11824,
        -32
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const recipes = [\n  'Lemon Butter Salmon',\n  'Shakshuka',\n  'Beef Bulgogi Rice Bowl',\n  'Roasted Tomato Soup',\n  'Crispy Chickpea Stir Fry',\n  'Lemon Ricotta Pancakes',\n  'Chicken Tikka Masala',\n  'Caprese Pasta',\n  'Korean Fried Chicken',\n  'Smashed Crispy Burger',\n  'Honey Garlic Glazed Shrimp',\n  'Lamb Kofta with Tzatziki',\n  'Harissa Roasted Cauliflower',\n  'Birria Quesatacos',\n  'Classic Banana Bread',\n  'One-Pan Garlic Butter Shrimp Pasta',\n  'Creamy Tuscan Chicken',\n  'Sheet Pan Fajitas',\n  'Egg Fried Rice',\n  'Black Bean Tacos',\n  'Greek Lemon Chicken',\n  'Teriyaki Salmon Bowl',\n  'Creamy Tomato Tortellini',\n  'Cheesy Baked Chicken Thighs',\n  'Sesame Noodles',\n  'Skillet Cornbread',\n  'Classic Brownies',\n  'Mango Chicken Curry',\n  'Pork Fried Rice',\n  'Vegetable Minestrone'\n];\n\nconst recipe = recipes[Math.floor(Math.random() * recipes.length)];\nconst slug = recipe.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '');\n\nreturn [{ json: { recipe_name: recipe, slug, why_fit: 'fallback_random_recipe', cuisine: '', meal_type: '', protein: '' } }];"
      },
      "id": "7e21bcfd-dd37-4d6d-8c29-3a945bef5cfe",
      "name": "Fallback Recipe Idea",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11600,
        -32
      ]
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 4000,
          "temperature": 0.7
        },
        "modelName": "models/gemini-2.0-flash"
      },
      "id": "349f9d83-8126-4620-ac4e-9e8beeedf89e",
      "name": "Gemini 2.0 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -11216,
        -64
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "6XAzmOq7MWDpjqDb",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-5249412419",
        "text": "={{ '🎉 <b>Published!</b>\\n\\n<b>' + $('Build Preview URL1').first().json.recipeName + '</b> is now live on the site.' }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "c967df65-b43b-4980-8bfe-b62a38ef3207",
      "name": "Notify Published1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -5440,
        -16
      ],
      "webhookId": "b4160ad3-c6ba-40a3-8565-d66c5fd84b79",
      "credentials": {
        "telegramApi": {
          "id": "O1MJFVusDgb0GzSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-5249412419",
        "text": "={{ '⏳ <b>Approved!</b>\\n\\nPublishing <b>' + $('Build Preview URL1').first().json.recipeName + '</b> to production now...' }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "ee40a4f4-b624-42e9-b423-bed965a67277",
      "name": "Notify Approved1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -7008,
        176
      ],
      "webhookId": "4aa31d11-6163-4850-8352-787e1ad883a8",
      "credentials": {
        "telegramApi": {
          "id": "O1MJFVusDgb0GzSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-5249412419",
        "text": "={{ '❌ <b>Recipe Rejected</b>\\n\\n<b>' + $('Build Preview URL1').first().json.recipeName + '</b> has been discarded and will not be published.' }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "f4111d22-7e60-45af-9496-c2e74a4535b3",
      "name": "Notify Rejected1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -7008,
        576
      ],
      "webhookId": "f6745d40-5a79-4046-a521-643dd1b73204",
      "credentials": {
        "telegramApi": {
          "id": "O1MJFVusDgb0GzSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.github.com/repos/christophcharaf/lowkeycooking-blog/git/refs/heads/' + $('Build Main Tree Request1').first().json.default_branch }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sha: $json.sha }) }}",
        "options": {}
      },
      "id": "9119a012-a67f-410c-b359-ae5b1124a93d",
      "name": "Update Main Branch Ref1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5664,
        -16
      ],
      "credentials": {
        "githubApi": {
          "id": "Z6Aj7LavahsWsj15",
          "name": "Hope Github"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/christophcharaf/lowkeycooking-blog/git/commits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "91c96548-0cbc-44c4-8eb3-61fbf10713b3",
      "name": "Create Main Commit1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5888,
        -16
      ],
      "credentials": {
        "githubApi": {
          "id": "Z6Aj7LavahsWsj15",
          "name": "Hope Github"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newTreeSha = $input.first().json.sha;\nconst parentSha = $('Build Main Tree Request1').first().json.parent_commit_sha;\nconst message = $('Build Main Tree Request1').first().json.commit_message;\nreturn [{\n  json: {\n    body: {\n      message: message,\n      tree: newTreeSha,\n      parents: [parentSha]\n    }\n  }\n}];"
      },
      "id": "af67f33b-cdc8-4108-926b-3c797267d2c7",
      "name": "Build Main Commit Request1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6112,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/christophcharaf/lowkeycooking-blog/git/trees",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "afb88a4a-d256-46c9-91df-9605c2f7c144",
      "name": "Create Main Tree1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6336,
        -16
      ],
      "credentials": {
        "githubApi": {
          "id": "Z6Aj7LavahsWsj15",
          "name": "Hope Github"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cleanData = $('Remove Draft Frontmatter1').first().json;\nconst branchInfo = $input.first().json;\nconst parentCommitSha = branchInfo.commit.sha;\nconst currentTreeSha = branchInfo.commit.commit.tree.sha;\nconst defaultBranch = $('Get Repo Info1').first().json.default_branch;\nreturn [{\n  json: {\n    body: {\n      base_tree: currentTreeSha,\n      tree: [\n        { path: 'recipes/en/' + cleanData.en_filename, mode: '100644', type: 'blob', content: cleanData.en_content },\n        { path: 'recipes/es/' + cleanData.es_filename, mode: '100644', type: 'blob', content: cleanData.es_content }\n      ]\n    },\n    parent_commit_sha: parentCommitSha,\n    commit_message: cleanData.commit_message,\n    default_branch: defaultBranch\n  }\n}];"
      },
      "id": "8bbd7ea0-933f-4a88-a1fb-37ae0933533e",
      "name": "Build Main Tree Request1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6560,
        -16
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.github.com/repos/christophcharaf/lowkeycooking-blog/branches/' + $('Get Repo Info1').first().json.default_branch }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "f2ec9103-ab62-4045-a8c9-b863e675c5ca",
      "name": "Get Main Branch Info1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -6784,
        -16
      ],
      "credentials": {
        "githubApi": {
          "id": "Z6Aj7LavahsWsj15",
          "name": "Hope Github"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const draftData = $('Inject Draft Frontmatter1').first().json;\nfunction removeDraft(content) {\n  return content.replace(/^---\\ndraft: true\\n/, '---\\n');\n}\nreturn [{\n  json: {\n    en_filename: draftData.en_filename,\n    en_content: removeDraft(draftData.en_content),\n    es_filename: draftData.es_filename,\n    es_content: removeDraft(draftData.es_content),\n    commit_message: draftData.commit_message\n  }\n}];"
      },
      "id": "e4312569-0c29-41b5-9d87-c9e8469cd30d",
      "name": "Remove Draft Frontmatter1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7008,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-approve",
              "leftValue": "={{ $json.query.action }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9899db6d-f996-4dfa-a910-ff67a668c7c6",
      "name": "Check Decision1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -7232,
        288
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "5aa14d63-acf7-4ce0-8070-aebf414e6034",
      "name": "Wait for Approval1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -7440,
        288
      ],
      "webhookId": "lowkeycooking-recipe-approval"
    },
    {
      "parameters": {
        "chatId": "-5249412419",
        "text": "={{ $json.text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Approve and Publish",
                    "additionalFields": {
                      "url": "={{ $('Build Preview URL1').first().json.approveUrl }}"
                    }
                  },
                  {
                    "text": "❌ Reject",
                    "additionalFields": {
                      "url": "={{ $('Build Preview URL1').first().json.rejectUrl }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "169325eb-f7ae-43b3-b215-274168dcf5a7",
      "name": "Send Telegram Message1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -7664,
        288
      ],
      "webhookId": "5b728623-535d-403d-b01c-a3904d128411",
      "credentials": {
        "telegramApi": {
          "id": "O1MJFVusDgb0GzSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Build Preview URL1').first().json;\n\nlet parsedRecipe = {};\ntry { parsedRecipe = $('Parse Recipe Idea').first().json || {}; } catch (e) {}\n\nconst gapAnalysis = parsedRecipe.gap_analysis\n  ? '\\n\\n<b>Gap filled:</b> ' + parsedRecipe.gap_analysis\n  : '';\nconst whyFit = parsedRecipe.why_fit\n  ? '\\n<b>Why this recipe:</b> ' + parsedRecipe.why_fit\n  : '';\n\nconst candidates = parsedRecipe.candidates || [];\nconst candidatesText = candidates.length > 0\n  ? '\\n\\n<b>Other candidates considered:</b>\\n' +\n    candidates.map((c, i) => (i + 1) + '. ' + c.recipe_name + ' (' + c.cuisine + ', ' + c.meal_type + ')').join('\\n')\n  : '';\n\nconst text = '<b>New Recipe Draft: ' + data.recipeName + '</b>\\n\\nA new recipe has been generated and is ready for your review.' +\n  gapAnalysis + whyFit + candidatesText +\n  '\\n\\n<b>Preview:</b>\\n' + data.previewUrl;\nreturn [{ json: { text } }];"
      },
      "id": "5381d666-2225-435c-8ff1-232c6d81eb91",
      "name": "Build Telegram Message1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7936,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "const draftData = $('Inject Draft Frontmatter1').first().json;\nconst resumeUrl = $execution.resumeUrl;\nconst slug = draftData.recipe_slug;\nconst previewUrl = 'https://lowkeycooking-blog-git-drafts-christophcharafs-projects.vercel.app/en/recipes/' + slug;\nconst approveUrl = resumeUrl + '?action=approve';\nconst rejectUrl = resumeUrl + '?action=reject';\nconst recipeName = slug.split('-').map(w => w.charAt(0).toUpperCase() + w.slice(1)).join(' ');\nreturn [{ json: { previewUrl, approveUrl, rejectUrl, slug, recipeName } }];"
      },
      "id": "cfc66375-ee74-473e-8ad0-67989379dca4",
      "name": "Build Preview URL1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8448,
        304
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.github.com/repos/christophcharaf/lowkeycooking-blog/git/refs/heads/drafts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sha: $json.sha }) }}",
        "options": {}
      },
      "id": "ad4531b9-825d-4ff0-b0cf-2b473363a483",
      "name": "Update Branch Ref1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8672,
        304
      ],
      "credentials": {
        "githubApi": {
          "id": "Z6Aj7LavahsWsj15",
          "name": "Hope Github"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/christophcharaf/lowkeycooking-blog/git/commits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "0612fb7b-9ba2-46c8-af6c-767f3ac74db2",
      "name": "Create Commit1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8896,
        304
      ],
      "credentials": {
        "githubApi": {
          "id": "Z6Aj7LavahsWsj15",
          "name": "Hope Github"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newTreeSha = $input.first().json.sha;\nconst parentSha = $('Build Create Tree Request1').first().json.parent_commit_sha;\nconst message = $('Build Create Tree Request1').first().json.commit_message;\n\nreturn [{\n  json: {\n    body: {\n      message: message,\n      tree: newTreeSha,\n      parents: [parentSha]\n    }\n  }\n}];"
      },
      "id": "2f0a5b46-d255-4ddc-aaab-6f6f095f398a",
      "name": "Build Create Commit Request1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9120,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/christophcharaf/lowkeycooking-blog/git/trees",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "e6bd46e0-ccc7-4195-988b-eca7104b0f33",
      "name": "Create Tree1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9344,
        304
      ],
      "credentials": {
        "githubApi": {
          "id": "Z6Aj7LavahsWsj15",
          "name": "Hope Github"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const draftData = $('Inject Draft Frontmatter1').first().json;\nconst branchInfo = $input.first().json;\n// GET /branches/{branch} returns: { commit: { sha, commit: { tree: { sha } } } }\nconst parentCommitSha = branchInfo.commit.sha;\nconst currentTreeSha = branchInfo.commit.commit.tree.sha;\n\nreturn [{\n  json: {\n    body: {\n      base_tree: currentTreeSha,\n      tree: [\n        {\n          path: 'recipes/en/' + draftData.en_filename,\n          mode: '100644',\n          type: 'blob',\n          content: draftData.en_content\n        },\n        {\n          path: 'recipes/es/' + draftData.es_filename,\n          mode: '100644',\n          type: 'blob',\n          content: draftData.es_content\n        }\n      ]\n    },\n    parent_commit_sha: parentCommitSha,\n    commit_message: draftData.commit_message,\n    default_branch: 'drafts'\n  }\n}];"
      },
      "id": "93af96b2-a300-4c87-bcf4-f9cbfe70903b",
      "name": "Build Create Tree Request1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9568,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/christophcharaf/lowkeycooking-blog/branches/drafts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "9c6166a9-ae68-4917-82c6-90313a5f0587",
      "name": "Get Branch Info1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -9792,
        304
      ],
      "credentials": {
        "githubApi": {
          "id": "Z6Aj7LavahsWsj15",
          "name": "Hope Github"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/christophcharaf/lowkeycooking-blog",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "e20482a6-71c4-4fc1-bf08-51175c14e986",
      "name": "Get Repo Info1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -10016,
        304
      ],
      "credentials": {
        "githubApi": {
          "id": "Z6Aj7LavahsWsj15",
          "name": "Hope Github"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prepareData = $input.first().json;\n\nfunction addDraft(content) {\n  return content.replace(/^---\\n/, '---\\ndraft: true\\n');\n}\n\nconst slug = prepareData.en_filename.replace('.md', '');\n\nreturn [{\n  json: {\n    en_filename: prepareData.en_filename,\n    en_content: addDraft(prepareData.en_content),\n    es_filename: prepareData.es_filename,\n    es_content: addDraft(prepareData.es_content),\n    commit_message: prepareData.commit_message,\n    recipe_slug: slug\n  }\n}];"
      },
      "id": "9a90913a-39ff-43e4-b221-6f9169967850",
      "name": "Inject Draft Frontmatter1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10240,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst en = items.find(i => i.json.lang === 'en');\nconst es = items.find(i => i.json.lang === 'es');\n\nif (!en || !es) {\n  throw new Error('Missing language variant. Got: ' + JSON.stringify(items.map(i => i.json.lang)));\n}\n\nconst recipeName = en.json.filename.replace('.md', '');\n\nreturn [{\n  json: {\n    en_filename: en.json.filename,\n    en_content: en.json.content,\n    es_filename: es.json.filename,\n    es_content: es.json.content,\n    commit_message: 'feat: add ' + recipeName + ' recipe (EN + ES)'\n  }\n}];"
      },
      "id": "6b3e1401-2921-4c80-941a-6e26304aeceb",
      "name": "Prepare Commit1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10464,
        304
      ]
    },
    {
      "parameters": {},
      "id": "d90fba7e-77c8-4801-bd6e-cb77bafa350d",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -10688,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.text ?? item.output ?? item.response ?? item.content ?? '';\nif (!raw) throw new Error('No content from AI node. Keys received: ' + Object.keys(item).join(', '));\n\nlet content = raw\n  .replace(/^```(?:markdown|md)?\\n?/i, '')\n  .replace(/\\n?```\\s*$/i, '')\n  .trim();\n\nconst filenameMatch = content.match(/<!--\\s*filename:\\s*([\\w-]+\\.md)\\s*-->/);\nconst filename = filenameMatch ? filenameMatch[1] : 'recipe-' + Date.now() + '.md';\n\nconst cleanContent = content\n  .replace(/<!--\\s*filename:[^>]+-->\\n?/, '')\n  .trim();\n\nreturn [{ json: { filename, content: cleanContent, lang: 'es' } }];"
      },
      "id": "0be1259d-a15e-4ac0-9f70-5b45ed86a299",
      "name": "Parse Filename & Clean ES1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10816,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = item.text ?? item.output ?? item.response ?? item.content ?? '';\nif (!raw) throw new Error('No content from AI node. Keys received: ' + Object.keys(item).join(', '));\n\nlet content = raw\n  .replace(/^```(?:markdown|md)?\\n?/i, '')\n  .replace(/\\n?```\\s*$/i, '')\n  .trim();\n\nconst filenameMatch = content.match(/<!--\\s*filename:\\s*([\\w-]+\\.md)\\s*-->/);\nconst filename = filenameMatch ? filenameMatch[1] : 'recipe-' + Date.now() + '.md';\n\nconst cleanContent = content\n  .replace(/<!--\\s*filename:[^>]+-->\\n?/, '')\n  .trim();\n\nreturn [{ json: { filename, content: cleanContent, lang: 'en' } }];"
      },
      "id": "0dadd0d8-d046-4b07-86fb-efb306267aa9",
      "name": "Parse Filename & Clean EN1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10848,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\nconst recipeName = $('Parse Recipe Idea').first().json.recipe_name || $('Fallback Recipe Idea').first().json.recipe_name;\n\nif (!results.length) throw new Error('No photos found for: ' + recipeName);\n\nconst imageUrl = results[0].urls.regular.split('?')[0] + '?w=1200&q=80';\n\nreturn [{ json: { recipe_name: recipeName, image_url: imageUrl } }];"
      },
      "id": "ff7ce075-05a8-430c-8beb-b5d97b40d460",
      "name": "Extract Largest Image URL1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11344,
        336
      ]
    },
    {
      "parameters": {
        "url": "https://api.unsplash.com/search/photos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.recipe_name }}"
            },
            {
              "name": "per_page",
              "value": "30"
            },
            {
              "name": "client_id",
              "value": "AGT99jkn31AmL38BS4QE8PqKt9RRge2zGEohexDpans"
            }
          ]
        },
        "options": {}
      },
      "id": "44d71cfd-44a8-4073-b387-383c342e3055",
      "name": "Fetch Unsplash Photos1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -11552,
        336
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3
            }
          ]
        }
      },
      "id": "85f6ec07-f4e2-4bc4-91a1-2814b27a4e99",
      "name": "Every 3 Days1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -12256,
        320
      ]
    },
    {
      "parameters": {
        "content": "## Automatic workflow every 3 days\n",
        "height": 80,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -12720,
        304
      ],
      "typeVersion": 1,
      "id": "817511b3-7a4f-46b9-9ebd-48a261699cfb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "={{ $json.previewUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -8176,
        304
      ],
      "id": "cb71c092-ebda-4a4d-8381-9404ffc2b092",
      "name": "HTTP Request1",
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "maxOutputTokens": 4000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -11120,
        704
      ],
      "id": "d1dde06a-f719-44ea-be1b-a741432f974d",
      "name": "Google Gemini Chat Model1",
      "retryOnFail": false,
      "credentials": {
        "googlePalmApi": {
          "id": "6XAzmOq7MWDpjqDb",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -8096,
        464
      ],
      "id": "0ff01d9e-c4a5-470a-963c-e7c8748b844f",
      "name": "Wait1",
      "webhookId": "21884687-d4f6-41a7-a4d4-20960669973c"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "maxOutputTokens": 8000,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -11952,
        576
      ],
      "id": "dd1575f3-ef60-44a0-8632-8c62c86a3090",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "6XAzmOq7MWDpjqDb",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional food blogger for LowKeyCooking. Write a complete recipe markdown file in English for \"{{ $json.recipe_name }}\".\n\nUse this image URL exactly as-is in the frontmatter image field: {{ $json.image_url }}\n\nYour response must begin with this HTML comment on the very first line (replace YOUR-SLUG with the kebab-case slug of the recipe name):\n<!-- filename: YOUR-SLUG.md -->\n\nThen immediately output the markdown with NO code fences, NO preamble, and NO explanation. Follow this exact structure:\n\n---\ntitle: [Recipe Name]\ndescription: [One engaging, appetizing sentence about the dish]\nimage: {{ $json.image_url }}\ncategory: [one of: breakfast, lunch, dinner, dessert]\nprep_time: [e.g. \"15 mins\"]\ncook_time: [e.g. \"20 mins\"]\nservings: [number]\nutensils:\n  - name: [Utensil Name]\n    url: https://www.amazon.com/s?k=[utensil+name+url+encoded]&tag=lowkeycooking-20\nnutrition:\n  calories: [integer]\n  protein: [e.g. \"25g\"]\n  carbs: [e.g. \"30g\"]\n  fat: [e.g. \"10g\"]\n  fiber: [e.g. \"3g\"]\n  sugar: [e.g. \"5g\"]\n  sodium: [e.g. \"400mg\"]\n---\n\n[1-2 sentence warm personal intro paragraph about why you love this recipe]\n\n## Ingredients\n\n- [ingredient with quantity]\n[6-10 total ingredients, max 12]\n\n## Instructions\n\n1. [First step]\n2. [Second step]\n[Continue numbering...]\n\nGuidelines:\n- Use only common grocery-store ingredients (Walmart, Kroger, Target level)\n- Total prep + cook time must be under 30 minutes\n- Maximum 6 numbered instruction steps — combine steps if needed\n- Use only one pan, pot, or baking sheet — no juggling multiple vessels\n- No special techniques: no tempering, no deep frying, no emulsifying, no dough\n- Write in a warm, approachable tone for someone who rarely cooks\n- Keep sentences short and direct in the instructions\n- Do NOT wrap the output in markdown code fences\n- Do NOT add any text before the filename comment or after the last instruction",
        "needsFallback": true
      },
      "id": "4ac476a1-3a01-4979-b4c0-f88a7f329f98",
      "name": "Generate Recipe Content EN1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -11088,
        96
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un blogger de cocina profesional para LowKeyCooking. Escribe un archivo markdown completo de receta en ESPAÑOL para \"{{ $json.recipe_name }}\".\n\nUsa esta URL de imagen exactamente tal como está en el campo image del frontmatter: {{ $json.image_url }}\n\nTu respuesta debe comenzar con este comentario HTML en la primera línea (reemplaza TU-SLUG con el slug en kebab-case del nombre de la receta en español):\n<!-- filename: TU-SLUG.md -->\n\nLuego escribe el markdown inmediatamente SIN bloques de código, SIN preámbulo y SIN explicaciones. Sigue esta estructura exacta:\n\n---\ntitle: [Nombre de la receta en español]\ndescription: [Una oración atractiva y apetitosa sobre el plato]\nimage: {{ $json.image_url }}\ncategory: [uno de: breakfast, lunch, dinner, dessert]\nprep_time: [ej. \"15 min\"]\ncook_time: [ej. \"20 min\"]\nservings: [número]\nutensils:\n  - name: [Nombre del utensilio en español]\n    url: https://www.amazon.com/s?k=[utensil+name+url+encoded]&tag=lowkeycooking-20\nnutrition:\n  calories: [entero]\n  protein: [ej. \"25g\"]\n  carbs: [ej. \"30g\"]\n  fat: [ej. \"10g\"]\n  fiber: [ej. \"3g\"]\n  sugar: [ej. \"5g\"]\n  sodium: [ej. \"400mg\"]\n---\n\n[1-2 oraciones cálidas de introducción personal sobre por qué te encanta esta receta]\n\n## Ingredientes\n\n- [ingrediente con cantidad]\n[6-10 ingredientes en total, máximo 12]\n\n## Instrucciones\n\n1. [Primer paso]\n2. [Segundo paso]\n[Continuar numerando...]\n\nPautas:\n- Usa solo ingredientes comunes de supermercado (nivel Walmart, Kroger, Target)\n- El tiempo total de preparación y cocción debe ser menor de 30 minutos\n- Máximo 6 pasos numerados — combina pasos si es necesario\n- Usa solo una sartén, olla o bandeja de horno — sin malabarismos con varios utensilios\n- Sin técnicas especiales: sin frituras profundas, sin masas, sin emulsionar\n- Escribe con un tono cálido y accesible para alguien que cocina poco\n- Mantén las oraciones cortas y directas en las instrucciones\n- TODO el contenido (título, descripción, utensilios, pasos) debe estar en ESPAÑOL\n- NO envuelvas la salida en bloques de código markdown\n- NO añadas ningún texto antes del comentario filename ni después del último paso",
        "needsFallback": true
      },
      "id": "e205b919-9f27-4839-bd1a-98461d3abde2",
      "name": "Generate Recipe Content ES1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -11088,
        496
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -10864,
        720
      ],
      "id": "04c5db34-50eb-41f4-bbc1-5fb3538c976d",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "6XAzmOq7MWDpjqDb",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -11008,
        -64
      ],
      "id": "68dc1788-bd39-4957-af6c-54805fd784ab",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "6XAzmOq7MWDpjqDb",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -11760,
        592
      ],
      "id": "295c34a2-a580-40d5-98b8-1a1076f16f2e",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "6XAzmOq7MWDpjqDb",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/christophcharaf/lowkeycooking-blog/contents/recipe-history.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-recipe-history-001",
      "name": "Fetch Recipe History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -12096,
        320
      ],
      "credentials": {
        "githubApi": {
          "id": "Z6Aj7LavahsWsj15",
          "name": "Hope Github"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fileData = $input.first().json;\nlet recipes = [];\nlet fileSha = '';\n\ntry {\n  const decoded = Buffer.from(fileData.content, 'base64').toString('utf8');\n  const content = JSON.parse(decoded);\n  recipes = content.recipes || [];\n  fileSha = fileData.sha || '';\n} catch (e) {\n  recipes = [];\n  fileSha = '';\n}\n\nconst published = recipes.filter(r => r.status === 'published');\nconst allSlugs = recipes.map(r => r.slug);\n\nconst byCuisine = {};\nconst byMealType = {};\nconst byProtein = {};\n\nfor (const r of published) {\n  byCuisine[r.cuisine] = (byCuisine[r.cuisine] || 0) + 1;\n  byMealType[r.meal_type] = (byMealType[r.meal_type] || 0) + 1;\n  if (r.protein && r.protein !== 'no specific protein — vegetable-forward') {\n    byProtein[r.protein] = (byProtein[r.protein] || 0) + 1;\n  }\n}\n\nconst historySummary = [\n  'By cuisine: ' + JSON.stringify(byCuisine),\n  'By meal type: ' + JSON.stringify(byMealType),\n  'By protein: ' + JSON.stringify(byProtein),\n  'Total published: ' + published.length\n].join('\\n');\n\nconst now = new Date();\nconst month = now.getMonth() + 1;\nlet season;\nif (month === 12 || month === 1 || month === 2) season = 'winter';\nelse if (month >= 3 && month <= 5) season = 'spring';\nelse if (month >= 6 && month <= 8) season = 'summer';\nelse season = 'fall';\n\nreturn [{ json: {\n  exclude_slugs: allSlugs.join(', '),\n  history_summary: historySummary,\n  file_sha: fileSha,\n  season\n} }];"
      },
      "id": "parse-build-context-001",
      "name": "Parse & Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11968,
        320
      ]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/christophcharaf/lowkeycooking-blog/contents/recipe-history.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "options": {}
      },
      "id": "refetch-recipe-history-001",
      "name": "Re-Fetch Recipe History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5888,
        200
      ],
      "credentials": {
        "githubApi": {
          "id": "Z6Aj7LavahsWsj15",
          "name": "Hope Github"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fileData = $input.first().json;\nlet currentContent;\nlet fileSha;\n\ntry {\n  currentContent = JSON.parse(Buffer.from(fileData.content, 'base64').toString('utf8'));\n  fileSha = fileData.sha;\n} catch (e) {\n  currentContent = { recipes: [] };\n  fileSha = fileData.sha || '';\n}\n\nlet parsedRecipe = {};\ntry {\n  const pr = $('Parse Recipe Idea').first().json;\n  if (pr && pr.slug) parsedRecipe = pr;\n} catch (e) {}\n\nif (!parsedRecipe.slug) {\n  try { parsedRecipe = $('Fallback Recipe Idea').first().json || {}; } catch (e) {}\n}\n\nconst newRecipe = {\n  slug: parsedRecipe.slug || '',\n  name: parsedRecipe.recipe_name || '',\n  status: 'published',\n  cuisine: parsedRecipe.cuisine || '',\n  meal_type: parsedRecipe.meal_type || '',\n  protein: parsedRecipe.protein || '',\n  published_at: new Date().toISOString().split('T')[0]\n};\n\nconst alreadyExists = !newRecipe.slug || currentContent.recipes.some(r => r.slug === newRecipe.slug);\nif (!alreadyExists) {\n  currentContent.recipes.push(newRecipe);\n}\n\nconst newContentBase64 = Buffer.from(JSON.stringify(currentContent, null, 2)).toString('base64');\n\nreturn [{ json: { body: {\n  message: 'chore: update recipe history — add ' + (newRecipe.slug || 'unknown'),\n  content: newContentBase64,\n  sha: fileSha\n} } }];"
      },
      "id": "build-history-update-001",
      "name": "Build History Update Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5760,
        200
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/christophcharaf/lowkeycooking-blog/contents/recipe-history.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "update-recipe-history-001",
      "name": "Update Recipe History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5632,
        200
      ],
      "credentials": {
        "githubApi": {
          "id": "Z6Aj7LavahsWsj15",
          "name": "Hope Github"
        }
      }
    }
  ],
  "connections": {
    "Generate Recipe Idea": {
      "main": [
        [
          {
            "node": "Parse Recipe Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Recipe Idea": {
      "main": [
        [
          {
            "node": "Fetch Unsplash Photos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Recipe Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Recipe Idea": {
      "main": [
        [
          {
            "node": "Fetch Unsplash Photos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.0 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Recipe Content EN1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Notify Approved1": {
      "main": [
        [
          {
            "node": "Remove Draft Frontmatter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Main Branch Ref1": {
      "main": [
        [
          {
            "node": "Re-Fetch Recipe History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Main Commit1": {
      "main": [
        [
          {
            "node": "Update Main Branch Ref1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Main Commit Request1": {
      "main": [
        [
          {
            "node": "Create Main Commit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Main Tree1": {
      "main": [
        [
          {
            "node": "Build Main Commit Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Main Tree Request1": {
      "main": [
        [
          {
            "node": "Create Main Tree1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Main Branch Info1": {
      "main": [
        [
          {
            "node": "Build Main Tree Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Draft Frontmatter1": {
      "main": [
        [
          {
            "node": "Get Main Branch Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Decision1": {
      "main": [
        [
          {
            "node": "Notify Approved1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Rejected1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval1": {
      "main": [
        [
          {
            "node": "Check Decision1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Message1": {
      "main": [
        [
          {
            "node": "Wait for Approval1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram Message1": {
      "main": [
        [
          {
            "node": "Send Telegram Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Preview URL1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Branch Ref1": {
      "main": [
        [
          {
            "node": "Build Preview URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Commit1": {
      "main": [
        [
          {
            "node": "Update Branch Ref1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Create Commit Request1": {
      "main": [
        [
          {
            "node": "Create Commit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tree1": {
      "main": [
        [
          {
            "node": "Build Create Commit Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Create Tree Request1": {
      "main": [
        [
          {
            "node": "Create Tree1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Branch Info1": {
      "main": [
        [
          {
            "node": "Build Create Tree Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Repo Info1": {
      "main": [
        [
          {
            "node": "Get Branch Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Draft Frontmatter1": {
      "main": [
        [
          {
            "node": "Get Repo Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Commit1": {
      "main": [
        [
          {
            "node": "Inject Draft Frontmatter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Prepare Commit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Filename & Clean ES1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse Filename & Clean EN1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Largest Image URL1": {
      "main": [
        [
          {
            "node": "Generate Recipe Content EN1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Recipe Content ES1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unsplash Photos1": {
      "main": [
        [
          {
            "node": "Extract Largest Image URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 3 Days1": {
      "main": [
        [
          {
            "node": "Fetch Recipe History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Build Telegram Message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Recipe Content ES1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Recipe Idea",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Recipe Content EN1": {
      "main": [
        [
          {
            "node": "Parse Filename & Clean EN1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Recipe Content ES1": {
      "main": [
        [
          {
            "node": "Parse Filename & Clean ES1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Recipe Content ES1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Recipe Content EN1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Recipe Idea",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Recipe History": {
      "main": [
        [
          {
            "node": "Parse & Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Build Context": {
      "main": [
        [
          {
            "node": "Generate Recipe Idea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-Fetch Recipe History": {
      "main": [
        [
          {
            "node": "Build History Update Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build History Update Request": {
      "main": [
        [
          {
            "node": "Update Recipe History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Recipe History": {
      "main": [
        [
          {
            "node": "Notify Published1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae542e8745e116dd8a0c0ebc4bb782ed44a2167356d2bdf60b8380955e893e39"
  }
}